{% extends "base.html" %}

{% block content %}
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <img src="{{url_for('static',filename='website_pics/landing_background.jpg')}}" class="img-fluid" alt="Responsive image" />
        </div>
        <div class="col-sm-4">
            <div class="jumbotron">
                <h6>Register using an existing Github, Google, or Facebook account:</h6>
                oAuth
                <br />
                Login
                <br />

                <hr class="my-4" />
                <p class="med-space"><h6 class="text-center">Create a DataShock account:</h6></p>

                <form method="POST">
                    {{form.hidden_tag()}}
                    <p class="text-center med-space">{{form.username(placeholder=" Username")}}</p>
                    <p class="text-center">{{form.email(placeholder=" Email")}}</p>
                    <p class="text-center">{{form.password(placeholder=" Password")}}</p>
                    <p class="text-center">{{form.password_confirm(placeholder=" Confirm Password")}}</p>
                    <p class="text-center med-space">{{form.submit(class="btn btn-primary")}}</p>
                    <br />
                </form>

            </div>
        </div>
    </div>
</div>
<br />


<h2 class="text-center text-primary">Blog Posts</h2>
<div class="container">
    {% for post in blog_posts.items %}
    <div class="card" style="width: 67.5rem;">
        <div class="card-body">
            <h2><a class="card-title" href="{{url_for('blog_posts.blog_post', blog_post_id=post.id)}}">{{post.title}}</a></h2>
            <p>
                {% if post.text|length > 100 %}
                {{post.text[:100]}}...
                {% else %}
                {{post.text[:100]}}
                {% endif %}
            </p>

            <p>
                Written by: <a href="{{url_for('users.user_post', username=post.author.username)}}">{{post.author.username}}</a>
                <span style="float:right">Published on: {{post.date.strftime('%m-%d-%Y')}}</span>
            </p>
        </div>
    </div>
    <br />
    {% endfor %}
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% for page_num in blog_posts.iter_pages(left_edge=1, right_edge=1, left_current=1,right_current=2) %}
        {% if blog_posts.page == page_num %}
        <li class="page-item disabled">
            <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{page_num}}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{page_num}}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endblock %}