.jumbotron {
    padding: 5px;
    background-color: rgba(234,235,237,1);
    border-style: none;
    border-color: darkgrey;
    border-width: 1px;
}
.container-fluid {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    min-height: 100%;
    min-height: 100vh;
}
border-bottom {
    border-bottom-style: solid;
}
.vert-center {

    display: flex;
    align-items: center;
}

body {
    background-color: rgba(234,235,237,1);
}


p {
    margin: 4px
}
p.med-space{
    margin-top:1.2em;
}

.right-align {
    float: right;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom 10px;
}

